// font-family: "Kalam", cursive;
// font-family: "Grandstander", cursive;
// font-family: "Great Vibes", cursive;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-family: "Kalam", cursive;
}
